@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
$bg-geral: #FFF3DD;
$bg-header: #c4d9de;
$bg-logo: #e191b1;
$bg-rosa-header: #fbe4e4;
$bg-roxo: #C5B1D6;
$bg-rosa: #F7D5E3;
$bg-verde: #bae1d3;
$botao-verde: #89ddbe;
$bg-carrinho: #E7E7E7;
$bg-botao: #D9D9D9;